.panelC{
    width:100%;
    height:167px;
    background-color: #fff;
    border-radius: 8px;
    color: var(--grey-500);
    display: grid;
    grid-template-columns: 40px 1fr;
    
    gap: 16px;
   
    padding: 24px 16px 24px 16px;
    margin: 20px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   
}

.counter{
    position: relative;
    top: 10px;
    width:40px;
    height:160px;
    background-color: var(--grey-50);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

}

.counter span svg{
    color: var(--purple-600);
}

.counter span svg:hover{
    cursor: pointer;
    color: var(--grey-800);
}

.counter .score{
    color: var(--purple-600);
    font-weight: 500;
}

.header, .header-left{
    position:relative;
    top:-6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0 10px 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.username{
    color: var(--grey-500);
    font-weight: 500;
}

.header img.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.header .btns2{
    
    justify-self: flex-end;
    max-width: 200px;
    padding: 8px;
    
    border: none;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    
    color: var(--purple-600)
}

.header .btns2 button.delete-button{
    background-color: #fff;
    color:var(--pink-400);
    text-transform: capitalize;
}

.header .btns2 button.edit-button{
    background-color: #fff;
    color:var(--purple-600);
    text-transform: capitalize;
}

.header button:hover{
    
    cursor: pointer;
}

article{
    position: relative;
    top:-36px;

    
    color: var(--color-500);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/* .panelC {
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 0 10px;
  } */

@media screen and (max-width: 768px) {
  .panelC {
    width: 96%;
    height: fit-content;
    margin: 10px auto;
    padding: 5px 10px;
  }

 header .btns2 {
    justify-content: flex-end;
    align-self:center;
    gap: 4px;
  }

  header .btns2 button:hover{
    cursor: pointer;
  }
}